<ol class="breadcrumb breadcrumb-bg-grey">
  <li><a href="/">Accueil</a></li>
  <li><a href="/orders-list">Gestion des Commandes</a></li>
  <li class="active">Historique de commande</li>
</ol>

<div class="row clearfix">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="card">
      <div class="header">
        <div class="row clearfix">
          <div class="col-lg-2 col-md-2 col-sm-6 col-xs-6" *ngIf="order" >
            <p class="font-italic col-teal">Numéro: {{order.orderId}}</p>
            <p class="font-italic col-teal">Créer par: {{order.creatorName}}</p>
            <p class="font-italic col-teal">Date de création: {{order.creationStartDate | date: 'dd/MM/yyyy - hh:mm'}}
            </p>
          </div>
        </div>
      </div>
      <div class="body">
        <table class="table table-bordered table-striped table-hover dataTable js-exportable" id="DataTables_Table_1"
          role="grid" aria-describedby="DataTables_Table_1_info">
          <thead>
            <tr role="row">
              <th class="" style="width: 141.75px;">Proposition</th>
              <th class="" style="width: 141.75px;">Etat</th>
              <th class="" style="width: 141.75px;">Validateur</th>
              <th class="" style="width: 141.75px;">Date de validation</th>
              <th class="" style="width: 141.75px;">Date de Livraison</th>
            </tr>
          </thead>
          <tbody *ngIf="history">
            <tr role="row" class="odd" *ngFor="let h of history
            | paginate: { itemsPerPage: 10, currentPage: p, totalItems: history.length };">
              <td class="sorting_1">{{h.propositionNumber}}</td>
              <td class="sorting_1">{{h.orderStatus}}</td>
              <td class="sorting_1">{{h.validatorName}}</td>
              <td class="sorting_1">{{h.validationStartDate | date:'dd/MM/yyyy hh:mm'}}</td>
              <td class="sorting_1">{{h.validationEndDate | date:'dd/MM/yyyy hh:mm'}}</td>
            </tr>
          </tbody>
        </table>
        <hr>
        <div *ngIf="history?.length > 10">
          <div class="text-center">
            <div class="d-inline-flex border-radius-fl-item mt-4 mb-0 pagination">
              <div class="row justify-content-center">
                <pagination-controls (pageChange)="p = $event" nextLabel="" previousLabel=""></pagination-controls>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
