<ol class="breadcrumb breadcrumb-bg-grey">
  <li><a href="/">Accueil</a></li>
  <li class="active">Gestion des Utilisateurs</li>
</ol>

<div class="row clearfix">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="card">
      <div class="body">
        <div class="table-responsive">
          <div id="DataTables_Table_1_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
            <form>
              <div id="DataTables_Table_1_filter" class="dataTables_filter">
                <label>Recherche:
                  <input type="search" class="form-control input-sm" placeholder="" aria-controls="DataTables_Table_1"
                    name="search" [(ngModel)]="searchText">
                </label>
                <button type="button" (click)="addUser()"
                  class="btn bg-blue-grey btn-circle waves-effect waves-circle waves-float pull-right">
                  <i class="material-icons">person_add</i>
                </button>
              </div>
            </form>
            <br>
            <table class="table table-bordered table-striped table-hover dataTable js-exportable"
              id="DataTables_Table_1" role="grid" aria-describedby="DataTables_Table_1_info">
              <thead>
                <tr role="row">
                  <th style="width: 141.75px;">Nom <i class="material-icons pull-right" (click)="sortFunction('name', booleanValue)">sort</i></th>
                  <th style="width: 141.75px;">Role <i class="material-icons pull-right" (click)="sortFunction('roleName', booleanValue)">sort</i></th>
                  <th style="width: 141.75px;">Email <i class="material-icons pull-right" (click)="sortFunction('email', booleanValue)">sort</i></th>
                  <th style="width: 141.75px;">Date de création <i class="material-icons pull-right" (click)="sortFunction('creationDate', booleanValue)">sort</i></th>
                  <th class="text-center"style="width: 229.75px;">Actions</th>
                </tr>
              </thead>
              <tbody>
                <tr role="row" class="odd" *ngFor="let user of users
                | paginate: { itemsPerPage: 10, currentPage: p, totalItems: users.length }
                | userFilter: searchText;">
                  <td class="sorting_1">{{user.name}}</td>
                  <td class="sorting_1" *ngIf="user.role">{{user.roleName}}</td>
                  <td class="sorting_1" *ngIf="!user.role">--</td>
                  <td class="sorting_1">{{user.email}}</td>
                  <td class="sorting_1">{{user.creationDate | date:'short'}}</td>
                  <td class="text-center">
                    <button type="button" class="btn bg-green waves-effect" *ngIf="!user.userStatus"
                      (click)="activateUser(user.userId)">Activer</button>
                    <button type="button" class="btn bg-black waves-effect waves-light" *ngIf="user.userStatus"
                      (click)="desactivateUser(user.userId)">Desactiver</button>
                    &nbsp;&nbsp;
                    <button type="button" class="btn bg-blue btn-circle waves-effect waves-circle waves-float"
                      [routerLink]="['/user-historique', user.userId]">
                      <i class="material-icons">description</i>
                    </button>
                    &nbsp;&nbsp;
                    <button type="button" class="btn btn-success btn-circle waves-effect waves-circle waves-float"
                      [routerLink]="['/user-edit', user.userId]" queryParamsHandling="merge"
                      [disabled]="!user.userStatus">
                      <i class="material-icons">build</i>
                    </button>
                    &nbsp;&nbsp;
                    <!-- <button type="button" class="btn bg-red btn-circle waves-effect waves-circle waves-float"
                      (click)="deleteUser(user)">
                      <i class="material-icons">delete</i>
                    </button> -->
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div *ngIf="users?.length > 0">
          <div class="text-center">
            <div class="d-inline-flex border-radius-fl-item mt-4 mb-0 pagination">
              <div class="row justify-content-center">
                <pagination-controls (pageChange)="p = $event" nextLabel="" previousLabel=""></pagination-controls>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
