<ol class="breadcrumb breadcrumb-bg-grey">
  <li><a href="/">Accueil</a></li>
  <li><a href="/supplier-list">Gestion des Fournisseurs</a></li>
  <li class="active" *ngIf="!addForm.get('id')!.value">Ajouter un fournisseur</li>
  <li class="active" *ngIf="addForm.get('id')!.value">Modifier un fournisseur</li>
</ol>

<div class="row clearfix">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="card">
      <div class="body">
        <br>
        <form name="form" role="form" (ngSubmit)="addSupplier()" [formGroup]="addForm">
          <!-- <h2 class="card-inside-title">With Icon</h2> -->
          <div class="alert alert-warning" *ngIf="codeExiste">
            Le code du fournisseur déja existe.
          </div>
          <div class="row clearfix">
            <div class="col-md-6">
              <div class="input-group">
                <span class="input-group-addon">
                  <i class="material-icons">border_color</i>
                </span>
                <div class="form-line">
                  <input type="text" class="form-control date" placeholder="Nom du fournisseur" formControlName="name"
                    required>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="input-group">
                <span class="input-group-addon">
                  <i class="material-icons">border_color</i>
                </span>
                <div class="form-line">
                  <input type="text" class="form-control date" placeholder="Code de fournisseur" formControlName="code"
                    required>
                </div>
              </div>
            </div>
          </div>
          <div class="row clearfix">
            <div class="col-md-6">
              <div class="input-group">
                <span class="input-group-addon">
                  <i class="material-icons">border_color</i>
                </span>
                <div class="form-line">
                  <input type="text" class="form-control date" placeholder="Numéro de téléphone" formControlName="phone"
                    required>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="input-group">
                <span class="input-group-addon">
                  <i class="material-icons">border_color</i>
                </span>
                <div class="form-line">
                  <input type="text" class="form-control date" placeholder="Adresse" formControlName="address" required>
                </div>
              </div>
            </div>
          </div>
          <div class="row clearfix">
            <div class="col-md-12">
              <div class="input-group">
                <button type="button" class="btn btn-primary m-t-15 waves-effect pull-right"
                  *ngIf="!addForm.get('id')!.value" [disabled]="addForm.invalid || isSaving" (click)="addSupplier()">Ajouter
                </button>
                <button type="button" class="btn btn-primary m-t-15 waves-effect pull-right"
                  *ngIf="addForm.get('id')!.value" [disabled]="addForm.invalid || isSaving"
                  (click)="updateSupplier()">Modifier
                </button>
                <button type="button" class="btn bg-grey m-t-15 waves-effect" (click)="previousState()">Annuler
                </button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
